{{#if this.isLarge}}
<div class="image large">
    <img ...attributes>
    <small>Förminska</small>
</div>
{{else}}
<div class="image">
    <img ...attributes>
    <small>Förstora</small>
</div>
{{/if}}