<button type="button" class="image {{if this.isLarge "large"}}" {{on "click" this.toggleSize}}>
    <img ...attributes>
    {{#if this.isLarge}}
    <small>Förminska</small>
    {{else}}
    <small>Förstora</small>
    {{/if}}
</button>