<nav class="menu">
    <LinkTo @route="index" class="menu-index">
        <h1>Mat-Akuten</h1>
    </LinkTo>
    <div class="links">
        <LinkTo @route="about" class="menu-about">
            Om oss
        </LinkTo>
        <LinkTo @route="contact" class="menu-contact">
            Kontakt
        </LinkTo>
    </div>
</nav>