{{yield}}
<article class="rental">
    <Rental::Image src="https://upload.wikimedia.org/wikipedia/commons/c/cb/Crane_estate_(5).jpg"
        alt="A picture of Grand Old Mansion" />
    <div class="details">
        <h3>Sture Stensson</h3>
        <div class="detail type">
            <span>Typ av kök:</span> Husmanskost
        </div>
        <div class="detail location">
            <span>Stad:</span> Göteborg
        </div>
        <div class="detail bedrooms">
            <span>År av erfarenhet:</span> 7
        </div>
    </div>
</article>