<Jumbo>
    <h2>Om Mat-Akuten</h2>
    <p>
        Mat-Akuten finns till för dig som akut behöver hjälper med matlagningen.
        Kanske är du ute i sista sekunden inför en fest, konferens eller dop?
        <br>Lugn, hos oss hittar du erfarna kockar som finns tillgängliga omgående för
        att komma ut och laga maten på plats.
    </p>
    <LinkTo @route="contact" class="button">Kontakta oss</LinkTo>
</Jumbo>