<Jumbo>
    <h2>Kontakta oss</h2>
    <p>
        Våra hjälpsamma medarbetare hjälper dig gärna om <br>du har frågor elller funderingar.
    </p>
    <address>
        Mat-Akuten Huvudkontor
        <p>
            Matvägen 35<br>
            111 38 Stockholm
        </p>
        <a href="tel:503.555.1212">+46 08 438 29 84</a><br>
        <a href="mailto:kundtjanst@matakuten.se">kundtjanst@matakuten.se</a>
    </address>
    <LinkTo @route="about" class="button">Om Oss</LinkTo>
</Jumbo>