<Jumbo>
    <h2>Välkommen till Mat-Akuten!</h2>
    <p>Vi hoppas att du hittar en lämplig kock som kan hjälpa dig med din akuta mat-situation.</p>
    <LinkTo @route="about" class="button">Om oss</LinkTo>
    <LinkTo @route="contact" class="button">Kontakta oss</LinkTo>
</Jumbo>

<div class="rentals">
    <ul class="results">
        {{#each @model as |rental|}}
        <li>
            <Rental @rental={{rental}} />
        </li>
        {{/each}}
    </ul>
</div>